/* Llamar a un elemneto por su ID */
#titulo-Principal {
    color: #0a40be;
    font-size: 36px;
}

/* Llamar a un elemento por su clase */
.subtitulo {
    color: #1cde16;
    font-size: 24px;
}
/* Llamar a un elemento por su etiqueta */
li {
    color: green;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: square;
}

.ingrediente {
    color: green;
}

#ingrediente-importante {
    color: #0a40be;
    font-size: 40px;
    font-weight: bold;
}

.Faltante {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

/*  <ul class="receta" id="Receta-pan">
        <li class="Ingredientes"> Levadura </li>
        <li class="Instrucciones"> Sal</li>
        <li class="Instrucciones"> Azucar</li>
        <li class="Instrucciones"> Miel</li>
        <li class="Faltante" id="Falta"> Polvo para hornear</li>
    </ul> */

p {
    color: #0a40be;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida sans Regular', 'Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flexbox;
    width: 200px;
    x:calc(50px * 100)
    y:calc(50px * 100);
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: solid;
    overflow-wrap: break-word;

}

p {
    color: #0a40be;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida sans Regular', 'Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px, 50px;
    padding: 12px;
    border:#000000 solid 2px;

}



